.ecommerce {
    margin-bottom: 30px;
    @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 60px;
    }


    &__container {
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
        max-width: 768px;
        padding: 0 60px;
    }
    @media screen and (min-width: $breakpoint-lg) {
        max-width: 964px;
    }
    @media screen and (min-width: $breakpoint-xl) {
        max-width: 1680px;
        padding: 0 180px;
    }
    @media screen and (min-width: $breakpoint-xxl) {
        max-width: 2160px;
        padding: 0 280px;
    }
}

&__card {

    margin-bottom: 28px;
    }

&__card-icon {
    width: 92px;
    height: 92px;
    fill: $basic-white;
    margin-bottom: 28px;
    }

&__card-desc {
    color: $basic-white;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 28px;
    }
}

.ecommercec {

&__card-title {
    @include main-gradient-text($gradient-red-text);
    font-size: 30px;
    margin-bottom: 28px;

@media screen and (min-width: $breakpoint-md) {
    @include title($gradient-red-text);
        }
    }
}
