.publications {
    background: $bg-color;

    &__container {
        padding-top: 30px;
        @media screen and (min-width: $breakpoint-md) {
            max-width: 768px;
            padding: 30px 60px 0;
        }
        @media screen and (min-width: $breakpoint-lg) {
            max-width: 1024px;
        }
        @media screen and (min-width: $breakpoint-xl) {
            max-width: 1440px;
        }
        @media screen and (min-width: $breakpoint-xxl) {
            max-width: 1980px;
            padding: 30px 160px 0;
        }
    }

    &__link {
        @include base-link;
        padding-bottom: 5px;
        padding-right: 10px;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;

        @media screen and (min-width: $breakpoint-xxl) {
            &:hover &:before {
                color: $accent-color;
                border-color: brown;
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            top: 2px;
            right: 0;
            border-bottom: 2px solid $regular-color;
            border-right: 2px solid $regular-color;
            transform:  rotate(-45deg);
            }
        @media screen and (min-width: $breakpoint-md) {
            padding-bottom: 10px;
            
        }
    }

    &__title {
        @include title($gradient-red-text);
        @include  main-gradient-text($gradient-red-text);
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.cards {

    &__publications-item {
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}
.card {

    &__publications-menu {
        background: $basic-white;
        border-radius: $radius-sm;
        margin-bottom: 30px;
    @media screen and (min-width: $breakpoint-md) {
        flex: 1 1 40%;
    }
    @media screen and (min-width: $breakpoint-lg) {
        flex: 1 1 25%
    }
}

    &__image {
        object-fit: cover;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: $radius-sm;
        border-top-right-radius: $radius-sm;
    }

    &__copy {
        padding: 30px;
        display: flex;
        flex-flow: column;
        gap: 15px;
    }

    &__copy-subtitle {
        color: $regular-color;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

    &__copy-data {
        text-transform: uppercase;
        color: $text-color;
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 15px;
        border-bottom:  4px solid $separator-color;
    }

    &__copy-desc {
        color: $basic-black;
        font-size: 14px;
        font-weight: 400px;
        line-height: 22px;
    }
}

