.team {

    &__global {
        margin-bottom: 60px;
    }

    &__global-container {
        @media screen and (min-width: $breakpoint-md){
            max-width: 768px;
            padding: 0 60px;
        }
        @media screen and (min-width: $breakpoint-lg) {
            max-width: 1024px;
        }
        @media screen and (min-width: $breakpoint-xl) {
            max-width: 1440px;
        }
        @media screen and (min-width: $breakpoint-xxl) {
            max-width: 1920px;
            padding: 0 160px;
        }
    }

    &__global-title {
        @include subtitle ($gradient-red-text);
        @include main-gradient-text($gradient-red-text);
        margin-bottom: 30px;
        @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: $breakpoint-lg) {
            max-width: 1024px;
            padding: 0 180px;
        }
        @media screen and (min-width: $breakpoint-xl) {
            max-width: 1440px;
        }
        @media screen and (min-width: $breakpoint-xxl) {
            max-width: 1920px;
            padding: 0 280px;
            }
    }
}

.cards {

    &__people {
        @media screen and (min-width: $breakpoint-md){
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
        }
    }
}
.card {

    &__people {
        margin-bottom: 30px;
        @media screen and (min-width: $breakpoint-md){
            margin-bottom: 0;
            flex: 1 1 40%;
        }
        @media screen and (min-width: $breakpoint-lg) {
            flex: 1 1 25%;
        }
    }

    &__people-img {
        @include global-image;
        border-radius: $radius-md;
        margin-bottom: 15px;
    }

    &__people-info {
        padding-right: 50px;
        position: relative;
    }

    &__people-title {
        text-decoration: none;
        color: $main-color;
        font-weight: 700;    
        @media screen and (min-width: $breakpoint-xxl) {
            &:hover {
                color: $accent-color;
                transition: all .4s ease-in;
            }
        }    
    }

    &__people-subtitle {
        color: $text-color;
        line-height: 22px;
        padding-top: 5px;
    }

    &__people-link {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        border-radius: $radius-rounded;
        background: $bg-color;

        &::before {
            content: '';
            position: absolute;
            top: 9px;
			left: 7px;
			width: 12px;
			height: 12px;
			border-bottom: 2px solid$regular-color;
			border-left: 2px solid $regular-color;
			transform: rotate(-130deg);
            transition: all .4s ease-in;
        }
        &:hover {
            transform: rotate(-95deg);
        }

        @media screen and (min-width: $breakpoint-xxl) {
            &:hover {
                color: $accent-color;
                transform: rotate(-95deg);
            }
            &:hover::before {
                border-color: $accent-color;
            }
        }
    }
}

.accent--color {
    &:hover {
        color: $accent-color;
        transition: color .4s linear;
    }
}



